/* Header */

@media screen and (min-width: 768px) {
    .header {
        height: 100%;
        padding: 1em;
        background-color: var(--secondary-bg-color);
        color: var(--text-color);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "left-header right-header";
        width: 65%;
        margin: auto;
        border-radius: 0 0 10px 10px;
    }

    .left-header {
        grid-area: left-header;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .right-header {
        grid-area: right-header;
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: center;
        width: 100%;

    }

    #headerImage {
        width: 40%;
        height: auto;
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .header {
        height: 100%;
        padding: 1em;
        background-color: var(--secondary-bg-color);
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right-header {
        display: none;
    }
}

.header ul {
    padding: 1em;
}


/* Tech stack */

.stack-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.stack-icons img {
    width: 4.5em;
    height: auto;
    padding: 0.5em;
    margin: 0.25em;
    filter: grayscale(50%);
}

.stack-icons img:hover {
    filter: grayscale(0%);
    transition: 0.1s;
    ;
}

/* Projects */

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 1em;
    margin: 1em;
}

.projects-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
}

.project button {
    width: 100%;
}