/* Colors */

:root {
    --dark: #000;
    --light: #fff;
    --light-alt: #ddd;
    --primary: #4CAF50;
}

/* Main Styles */

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 0 20rem 0 20rem;
}

.darkMode {
    background-color: var(--dark);
    color: var(--light);

    a {
        color: var(--light);
    }
}

/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 1rem 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--dark);
}

nav ul li a:hover {
    color: var(--primary);
    text-decoration: underline;
}

.themeToggle::hover {
    cursor: pointer;
}

/* PROGRESS BAR */

.progressBar {
    display: flex;
    align-items: center;
}

.progressBarFill {
    width: 100%;
    background-color: var(--light-alt);
    margin: 0.5rem;
}

.progressBarFillInner {
    text-align: right;
    padding: 0.5rem;
    color: var(--dark);
    width: 45%;
    background-color: var(--primary);
}