/* Main Styles */

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 0 20rem 0 20rem;
}

.darkMode {
    background-color: #000;
    color: #fff;
}

/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 1rem 0 1rem;
}

nav ul li a {
    text-decoration: none;
}

.themeToggle::hover {
    cursor: pointer;
}

/* PROGRESS BAR */

.progressBar {
    display: flex;
    align-items: center;
}

.progressBarFill {
    width: 100%;
    background-color: #ddd;
    margin: 0.5rem;
}

.progressBarFillInner {
    text-align: right;
    padding: 0.5rem;
    color: white;
    width: 45%;
    background-color: #4CAF50;
}