:root {
    /* Declaring colour variables */
    --color-primary: #00a0e9;
    --color-secondary: #ffc107;
    --color-tertiary: #2c3e50;
    --colour-light: #f5f5f5;
    --colour-dark: #2c3e50;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    color: var(--colour-dark);
    background-color: var(--colour-light);
    width: 100%;
}

a {
    color: var(--colour-dark);
    text-decoration: none;
}

.navbar {
    background-color: var(--colour-dark);
    color: var(--colour-light);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar a {
    color: var(--colour-light);
    padding: auto;
    margin: auto;
    align-items: center;
}

.header {
    background-color: var(--colour-dark);
    color: var(--colour-light);
    width: 100%;
    height: 100%;
    text-align: center;
}

.header h1,
ul {
    align-items: left;
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 4em;
    background-color: var(--colour-light);
    color: var(--colour-dark);
    align-items: center;
    justify-content: center;
}

.stack img {
    width: 4em;
    height: 4em;
}