    /* Setting up the variables */
    
     :root {
        --main-header-color: #333;
        --main-bg-color: lightgrey;
        --secondary-bg-color: white;
        --text-color: #202020;
        --primary-color: #FFEE32;
        font: 1.5vw "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    /* Body setup */
    
    body {
        width: 100%;
        height: 100%;
        background-color: var(--main-bg-color);
        color: var(--main-text-color);
        margin: 0;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /* Page setup */
    
    h1 {
        font-size: 8vw;
        font-weight: bold;
        color: var(--primary-color);
        margin-top: 0;
        margin-bottom: 0;
    }
    
    h2 {
        font-size: 4vw;
        font-weight: bold;
        color: var(--primary-color);
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    li {
        display: flex;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
    /* Main page setup */
    
    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    /* Containers */
    
    .container {
        height: 100%;
        padding: 1em;
        margin: 2em 2em 2em 2em;
        background-color: var(--secondary-bg-color);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .container p {
        padding-left: 2em;
        padding-right: 2em;
        text-align: justify;
    }
    
    .container button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* Buttons */
    
    button {
        background-color: var(--primary-color);
        color: var(--secondary-bg-color);
        border: none;
        border-radius: 0.5vw;
        font-size: 2vw;
        padding: 1em;
        padding-left: 0;
        padding-right: 0;
        text-decoration: none;
        cursor: pointer;
        height: auto;
        width: 20vw;
    }
    
    button:hover {
        background-color: var(--secondary-bg-color);
        color: var(--primary-color);
        box-shadow: 0 0 0 0.5vw var(--primary-color);
    }
    
    .hidden {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 1s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .visible {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }