/* Custom colours*/
:root {
    --main-white: #ffffff;
    --main-yellow: #f9dc5c;
    --main-pink: #f08080;
    --main-dark: #101919;
  }
  
  /* Base */
  
  * {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.1em;
    font-color: --main-dark;
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behaviour: smooth;
  }