/* Custom colours*/
:root {
    --main-white: #ffffff;
    --main-yellow: #f9dc5c;
    --main-pink: #f08080;
    --main-dark: #101919;
  }
  
  /* Base */
  
  * {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h1 {
    color: var(--main-dark);
    font-size: 2.5em;
  }

  #name {
    font-size: 4em;
    text-align: center;
    padding: 1em;
    color: var(--main-dark);

  }
#name:hover {
    color: var(--main-pink);
}

h2 {
    font-size: 1.5em;
    color: var(--main-white);
    text-align: center;
    padding: 1em;
    background-color: var(--main-dark);
}

#intro {
    background-color: var(--main-yellow);
}


.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin: 0, auto;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-pink);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--main-yellow);
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}