/* Custom colours*/
:root {
    --main-white: #ffffff;
    --main-yellow: #f9dc5c;
    --main-pink: #f08080;
    --main-dark: #101919;
  }
  
  /* Base */
  
  * {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h1 {
    color: var(--main-dark);
    font-size: 2.5em;
  }

  #name {
    font-size: 4em;
    text-align: center;
    padding: 1em;
    color: var(--main-dark);

  }
#name:hover {
    color: var(--main-pink);
}

h2 {
    font-size: 1.5em;
    color: var(--main-white);
    text-align: center;
    padding: 1em;
    background-color: var(--main-dark);
}

#intro {
    background-color: var(--main-yellow);
}


